* {
    box-sizing: border-box;
    background-color: oldlace;
    
}
body {
    background-image: url('time.jpg');
    display: grid;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
      
}

form .input {
    margin-left: 20px;
    margin-right: 10px;
    border-color: rgb(23, 22, 22);
    height: 40px;

}



form .button {
    height: 40px;
    margin-left: 1px;

}

h1 {
    text-align: center;
}

footer {
    text-align: center;
    opacity: 0.5;
}